.microblog-widget-post-title {
	font-weight: bold;
}
.microblog-shortcode-post-title {
	font-weight: bold;
}
ul.microblog-shortcode div.sharing {
	display: none;
}
.microblog-widget-post-content p {
	display: inline;
}
.microblog-shortcode-post-content p {
	display: inline;
}
